
.site{
    background: url(bg.jpeg) no-repeat center top;
    background-size: cover;
}

header{
    background: #0f407a;
    color: white;
    text-align: center;
    padding: 30px;  
    font-family: 'Times New Roman', Times, serif;
}

article h1{
    border-bottom: 3px solid #0f407a;
    margin-bottom: 70px;
    margin-top: 30px;
    font-weight: bold;
    color: #0f407a;
}

.color-movi{
    background: #0f407a;
    color: white;
}

footer{
    background: #0f407a;
    color: white;
    padding: 20px;
    text-align: right;
    margin-top: 300px;
    font-family: 'Times New Roman', Times, serif;
}

article{
    background: white;
    text-align: center;
    padding: 50px;
    border-left: 15px solid #0f407a;
    border-right: 15px solid #0f407a;
    border-bottom: 15px solid #0f407a;
}

article img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 5px;
}

article h1{
    font-family: 'Courier New', Courier, monospace;
}

.btn-primary{
    border: none;
    outline: none;
    width: 90px;
    background: #0f407a;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;  
}

.btn-recup{
    border: none;
    outline: none;
    width: 213px;
    background: #0f407a;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px; 
}

.login-box label{
    margin-bottom: 30px;
    padding: 1px;
}

.modal-footer{
    background: #0f407a;
}

.modal-header{
    background: #0f407a;
    color: white;
}

@media screen and (max-width: 768px){
    footer{
        margin-top: 0;
    }
}