body {
    background: #0f407a !important;
    margin: 0;
    height: 100% !important;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

aside{
    height: 650px !important;
}

.navbar {
    min-height: 80px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.sidenav {
    background-color: #ffffff;
}

.col-form-label {
    margin-bottom: 20px;
    color: #ffffff;
}

h4 {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (max-width: 1024px) {
    .españa{
        height: 600px !important;
    }
}

@media (max-width: 767px) {
    .españa{
        height: 500px !important;
    }
    footer{
        position: relative !important; 
    }
    .sidenav {
        height: 100%;
        padding: 15px;
      }

	.navbar-right{
		height: 30px;
	}

    .navbar-header img {
        display: none;
    }

    .navbar-nav {
        display: none;
    }

    #account-menu {
        float: right;
    }

	#movil-menu{
		visibility: visible;
		float: left;
	}

    aside {
        height: 270px !important;
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    .navbar{
        min-height: 50px;
    }
}

@media ( min-width : 768px) {
	.navbar-nav>li>a {
		/* (80px - line-height of 27px) / 2 = 26.5px */
		padding-top: 26.5px;
		padding-bottom: 26.5px;
		line-height: 27px;
	}
	#movil-menu{
		visibility: hidden;
    }
}

@media (min-width: 1100px) {
    .españa{
        height: 600px !important;
    }
    aside{
        height: 620px !important;
    }
}

@media (min-width: 1400px) {
    .españa{
        height: 800px !important;
    }
    aside{
        height: 840px !important;
    }
    footer{
        position: relative !important; 
    }
}
