  

body{
    background: url(../html/bg.jpeg) no-repeat center top;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background: #0f407a;
    color: white;
    text-align: center;
    padding: 30px;  
}

header img{
    float: left;
}

.color-movi{
    background: #0f407a;
    color: white;
}

footer{ 
    width: 100%;
    bottom: 0;
    position: relative;
    background: #0f407a;
    color: white;
    padding: 20px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

footer img{
    height: 20px;
    width: 20px;
    float: right;
    margin-left: 15px;
}

article{
    height: 100%;
    background: white;
    text-align: center;
    padding: 150px;
    border-left: 15px solid #0f407a;
    border-right: 15px solid #0f407a;
}

article h1{
    border-bottom: 3px solid #0f407a;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    color: #0f407a;
}

article img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 5px;
}

article h1{
    font-family: 'Courier New', Courier, monospace;
}

.btn-login{
    border: none;
    outline: none;
    width: 90px;
    background: #0f407a;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.btn-recup{
    border: none;
    outline: none;
    width: 213px;
    background: #0f407a;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px; 
}

.login-box label{
    margin-bottom: 30px;
    padding: 1px;
}

.modal-footer{
    background: #0f407a;
    bottom: 0;
    width: 100%;
}

.modal-header{
    background: #0f407a;
    color: white;
}

.form-login[type = "text"],.form-login[type = "password"]{
    transition: 0.25s;
    width: 200px;
    text-align: center;
    margin: 10px;
    border: 1px solid #0f407a;
}

.form-login[type = "text"]:focus,.form-login[type = "password"]:focus{
    border-bottom: 3px solid #0f407a;
    border-right: 3px solid #0f407a;
    width: 250px;
}

@media screen and (max-width: 768px){
    footer{
        position: relative;
    }
}

